.pri_div{
    width: 100%;
    height: 50px;
    background-color: aqua;
}

.seg_div{
    width: 100%;
    height: 400px;
    background-color: royalblue;
}

.ter_div{
    width: 100%;
    height: 50px;
    background-color: salmon;
}

.qua_div{
    width: 100%;
    height: 50px;
    background-color: springgreen;
}